.header {
    color: black;
}

.inner {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    min-height: 75px;
}

.logoText {
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
}

.list {
    display: flex;
}

.listItem {
    margin-right: 35px;
}

.listItem:last-child {
    margin-right: 0;
}

.listLink {
    text-transform: uppercase;
    letter-spacing: 2px;
}